<a href="https://colab.research.google.com/github/bharath637/python/blob/main/pyspark_arami1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark Connection

In [3]:
!pip3 install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 16.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=d50a080d249e3f945d0ed5a9fb1984ede4fe779b791ce4de3d8e8f975d617633
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [5]:
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("First Spyspark DF program").master("local[*]").getOrCreate()

In [ ]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x7fc1b5c9a670>

In [4]:
#  Create DF and basic operations
%%time
#using read.format
df1 = spark.read.format("csv").load("/content/CompleteDataset.csv",inferSchema="True",Header='True')
df1.show(1)

+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+-----+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|_c0|             Name|Age|               Photo|Nationality|                Flag|Overall|Potential|          Club|           Club Logo| Value| Wage|Special|Acceleration|Aggression|Agility|Balance|Ball control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|   ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+-----+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  0|Cristiano Ronaldo| 32|https://cdn.sofif...|   Portugal|https://cdn.sofif...|     94|       94|Real Madrid CF|https://cdn.sofif...|€95.5M|€565K|   2228|          89|        63|     89|     63|          93|       95|      85|   81|       91|       94|                76|        7|         11|        15|            14|         11|              88|           29|     95|          77|        92|     22|       85|         95|       96|           83|        94|            23|          91|     92|             31|      80|    85|     88|89.0|53.0|62.0|91.0|82.0|20801|89.0|61.0|53.0|82.0|62.0|91.0|89.0|92.0|91.0|66.0|             ST LW |89.0|61.0|53.0|82.0|62.0|91.0|89.0|92.0|91.0|66.0|92.0|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+-----+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 1 row

CPU times: user 84.3 ms, sys: 14.4 ms, total: 98.7 ms
Wall time: 13.1 s

In [5]:
%%time
#using csv
df2 = spark.read.csv("/content/CompleteDataset.csv",inferSchema="True",header="True")
df2.show(10)

+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|_c0|             Name|Age|               Photo|Nationality|                Flag|Overall|Potential|               Club|           Club Logo| Value| Wage|Special|Acceleration|Aggression|Agility|Balance|Ball control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  0|Cristiano Ronaldo| 32|https://cdn.sofif...|   Portugal|https://cdn.sofif...|     94|       94|     Real Madrid CF|https://cdn.sofif...|€95.5M|€565K|   2228|          89|        63|     89|     63|          93|       95|      85|   81|       91|       94|                76|        7|         11|        15|            14|         11|              88|           29|     95|          77|        92|     22|       85|         95|       96|           83|        94|            23|          91|     92|             31|      80|    85|     88|89.0|53.0|62.0|91.0|82.0| 20801|89.0|61.0|53.0|82.0|62.0|91.0|89.0|92.0|91.0|66.0|             ST LW |89.0|61.0|53.0|82.0|62.0|91.0|89.0|92.0|91.0|66.0|92.0|
|  1|         L. Messi| 30|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     93|       93|       FC Barcelona|https://cdn.sofif...| €105M|€565K|   2154|          92|        48|     90|     95|          95|       96|      77|   89|       97|       95|                90|        6|         11|        15|            14|          8|              71|           22|     68|          87|        88|     13|       74|         93|       95|           88|        85|            26|          87|     73|             28|      59|    90|     85|92.0|45.0|59.0|92.0|84.0|158023|92.0|57.0|45.0|84.0|59.0|92.0|90.0|88.0|91.0|62.0|                RW |92.0|57.0|45.0|84.0|59.0|92.0|90.0|88.0|91.0|62.0|88.0|
|  2|           Neymar| 25|https://cdn.sofif...|     Brazil|https://cdn.sofif...|     92|       94|Paris Saint-Germain|https://cdn.sofif...| €123M|€280K|   2100|          94|        56|     96|     82|          95|       92|      75|   81|       96|       89|                84|        9|          9|        15|            15|         11|              62|           36|     61|          75|        77|     21|       81|         90|       88|           81|        80|            33|          90|     78|             24|      53|    80|     83|88.0|46.0|59.0|88.0|79.0|190871|88.0|59.0|46.0|79.0|59.0|88.0|87.0|84.0|89.0|64.0|                LW |88.0|59.0|46.0|79.0|59.0|88.0|87.0|84.0|89.0|64.0|84.0|
|  3|        L. Suárez| 30|https://cdn.sofif...|    Uruguay|https://cdn.sofif...|     92|       92|       FC Barcelona|https://cdn.sofif...|  €97M|€510K|   2291|          88|        78|     86|     60|          91|       83|      77|   86|       86|       94|                84|       27|         25|        31|            33|         37|              77|           41|     69|          64|        86|     30|       85|         92|       93|           83|        87|            38|          77|     89|             45|      80|    84|     88|87.0|58.0|65.0|88.0|80.0|176580|87.0|64.0|58.0|80.0|65.0|88.0|85.0|88.0|87.0|68.0|                ST |87.0|64.0|58.0|80.0|65.0|88.0|85.0|88.0|87.0|68.0|88.0|
|  4|         M. Neuer| 31|https://cdn.sofif...|    Germany|https://cdn.sofif...|     92|       92|   FC Bayern Munich|https://cdn.sofif...|  €61M|€230K|   1493|          58|        29|     52|     35|          48|       70|      15|   14|       30|       13|                11|       91|         90|        95|            91|         89|              25|           30|     78|          59|        16|     10|       47|         12|       85|           55|        25|            11|          61|     44|             10|      83|    70|     11|null|null|null|null|null|167495|null|null|null|null|null|null|null|null|null|null|                GK |null|null|null|null|null|null|null|null|null|null|null|
|  5|   R. Lewandowski| 28|https://cdn.sofif...|     Poland|https://cdn.sofif...|     91|       91|   FC Bayern Munich|https://cdn.sofif...|  €92M|€355K|   2143|          79|        80|     78|     80|          89|       87|      62|   77|       85|       91|                84|       15|          6|        12|             8|         10|              85|           39|     84|          65|        83|     25|       81|         91|       91|           83|        88|            19|          83|     79|             42|      84|    78|     87|84.0|57.0|62.0|87.0|78.0|188545|84.0|58.0|57.0|78.0|62.0|87.0|82.0|88.0|84.0|61.0|                ST |84.0|58.0|57.0|78.0|62.0|87.0|82.0|88.0|84.0|61.0|88.0|
|  6|           De Gea| 26|https://cdn.sofif...|      Spain|https://cdn.sofif...|     90|       92|  Manchester United|https://cdn.sofif...|€64.5M|€215K|   1458|          57|        38|     60|     43|          42|       64|      17|   21|       18|       13|                19|       90|         85|        87|            86|         90|              21|           30|     67|          51|        12|     13|       40|         12|       88|           50|        31|            13|          58|     40|             21|      64|    68|     13|null|null|null|null|null|193080|null|null|null|null|null|null|null|null|null|null|                GK |null|null|null|null|null|null|null|null|null|null|null|
|  7|        E. Hazard| 26|https://cdn.sofif...|    Belgium|https://cdn.sofif...|     90|       91|            Chelsea|https://cdn.sofif...|€90.5M|€295K|   2096|          93|        54|     93|     91|          92|       87|      80|   82|       93|       83|                79|       11|         12|         6|             8|          8|              57|           41|     59|          81|        82|     25|       86|         85|       85|           86|        79|            22|          87|     79|             27|      65|    86|     79|88.0|47.0|61.0|87.0|81.0|183277|88.0|59.0|47.0|81.0|61.0|87.0|87.0|82.0|88.0|64.0|                LW |88.0|59.0|47.0|81.0|61.0|87.0|87.0|82.0|88.0|64.0|82.0|
|  8|         T. Kroos| 27|https://cdn.sofif...|    Germany|https://cdn.sofif...|     90|       90|     Real Madrid CF|https://cdn.sofif...|  €79M|€340K|   2165|          60|        60|     71|     69|          89|       85|      85|   85|       79|       76|                84|       10|         11|        13|             7|         10|              54|           85|     32|          93|        90|     63|       73|         79|       86|           90|        87|            69|          52|     77|             82|      74|    88|     82|83.0|72.0|82.0|81.0|87.0|182521|83.0|76.0|72.0|87.0|82.0|81.0|81.0|77.0|80.0|78.0|            CDM CM |83.0|76.0|72.0|87.0|82.0|81.0|81.0|77.0|80.0|78.0|77.0|
|  9|       G. Higuaín| 29|https://cdn.sofif...|  Argentina|https://cdn.sofif...|     90|       90|           Juventus|https://cdn.sofif...|  €77M|€275K|   1961|          78|        50|     75|     69|          85|       86|      68|   74|       84|       91|                62|        5|         12|         7|             5|         10|              86|           20|     79|          59|        82|     12|       70|         92|       88|           75|        88|            18|          80|     72|             22|      85|    70|     88|81.0|46.0|52.0|84.0|71.0|167664|81.0|51.0|46.0|71.0|52.0|84.0|79.0|87.0|82.0|55.0|                ST |81.0|51.0|46.0|71.0|52.0|84.0|79.0|87.0|82.0|55.0|87.0|
+---+-----------------+---+--------------------+-----------+--------------------+-------+---------+-------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 10 rows

CPU times: user 21.1 ms, sys: 3.73 ms, total: 24.8 ms
Wall time: 2.56 s

In [6]:
# How many partitions in DF?
df1.rdd.getNumPartitions()

2

In [7]:
# Increase/Desrease the partitions in DF
df_rep_inc=df1.repartition(10)
print(df_rep_inc.rdd.getNumPartitions())
df_rep_dec=df1.repartition(1)
print(df_rep_dec.rdd.getNumPartitions())
df_rep_inc.show(1)

10
1
+---+----------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|_c0|      Name|Age|               Photo|Nationality|                Flag|Overall|Potential|          Club|           Club Logo|Value|Wage|Special|Acceleration|Aggression|Agility|Balance|Ball control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+---+----------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|677|A. Samedov| 32|https://cdn.sofif...|     Russia|https://cdn.sofif...|     79|       79|Spartak Moscow|https://cdn.sofif...| €10M|€74K|   2043|          81|        73|     78|     73|          78|       74|      80|   86|       74|       74|                79|        8|          8|         8|            11|         12|              59|           42|     64|          69|        75|     52|       81|         77|       78|           80|        73|            47|          80|     82|             52|      68|    80|     61|77.0|59.0|65.0|77.0|74.0|147621|77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|                RM |77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|74.0|
+---+----------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 1 row

In [2]:
# Rename Columns and Amend NULLs:

df_rep_inc = df_rep_inc.withColumnRenamed("_c0","ID")\
.withColumnRenamed("Ball control", "Ball_Control")\
.withColumnRenamed("Sliding tackle", "Sliding_Tackle")

NameError: ignored

In [9]:
df_rep_inc.show(1)

+---+----------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
| ID|      Name|Age|               Photo|Nationality|                Flag|Overall|Potential|          Club|           Club Logo|Value|Wage|Special|Acceleration|Aggression|Agility|Balance|Ball_Control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding_Tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+---+----------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|677|A. Samedov| 32|https://cdn.sofif...|     Russia|https://cdn.sofif...|     79|       79|Spartak Moscow|https://cdn.sofif...| €10M|€74K|   2043|          81|        73|     78|     73|          78|       74|      80|   86|       74|       74|                79|        8|          8|         8|            11|         12|              59|           42|     64|          69|        75|     52|       81|         77|       78|           80|        73|            47|          80|     82|             52|      68|    80|     61|77.0|59.0|65.0|77.0|74.0|147621|77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|                RM |77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|74.0|
+---+----------+---+--------------------+-----------+--------------------+-------+---------+--------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 1 row

In [10]:
#from pyspark.sql.functions import col
print(df_rep_inc)
df_rep_inc.select("Name","Age").show(2)

DataFrame[ID: int, Name: string, Age: int, Photo: string, Nationality: string, Flag: string, Overall: int, Potential: int, Club: string, Club Logo: string, Value: string, Wage: string, Special: int, Acceleration: string, Aggression: string, Agility: string, Balance: string, Ball_Control: string, Composure: string, Crossing: string, Curve: string, Dribbling: string, Finishing: string, Free kick accuracy: string, GK diving: string, GK handling: string, GK kicking: string, GK positioning: string, GK reflexes: string, Heading accuracy: string, Interceptions: string, Jumping: string, Long passing: string, Long shots: string, Marking: string, Penalties: string, Positioning: string, Reactions: string, Short passing: string, Shot power: string, Sliding_Tackle: string, Sprint speed: string, Stamina: string, Standing tackle: string, Strength: string, Vision: string, Volleys: string, CAM: double, CB: double, CDM: double, CF: double, CM: double, ID: int, LAM: double, LB: double, LCB: double, LCM: double, LDM: double, LF: double, LM: double, LS: double, LW: double, LWB: double, Preferred Positions: string, RAM: double, RB: double, RCB: double, RCM: double, RDM: double, RF: double, RM: double, RS: double, RW: double, RWB: double, ST: double]
+------------+---+
|        Name|Age|
+------------+---+
|  E. Quejeda| 29|
|L. Escalante| 25|
+------------+---+
only showing top 2 rows

In [12]:
# Reading delimited files

df_dat = spark.read.csv("/content/file.dat",sep='~',header='True',inferSchema="True")
df_dat.show()

+-------+---+----------+
|   Name|Age|       DOB|
+-------+---+----------+
|Bharath| 25|24/10/1998|
|Sharath| 30|25/12/1992|
+-------+---+----------+

In [13]:
#Amend NULLs:
df2 = df_rep_inc
df2.show()
df2.show(3)
df2.na.fill({"RAM": 10, "RB": 1,'RCB':10}).show(3)

+-----+--------------+---+--------------------+--------------+--------------------+-------+---------+--------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|   ID|          Name|Age|               Photo|   Nationality|                Flag|Overall|Potential|                Club|           Club Logo| Value| Wage|Special|Acceleration|Aggression|Agility|Balance|Ball_Control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding_Tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+-----+--------------+---+--------------------+--------------+--------------------+-------+---------+--------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  677|    A. Samedov| 32|https://cdn.sofif...|        Russia|https://cdn.sofif...|     79|       79|      Spartak Moscow|https://cdn.sofif...|  €10M| €74K|   2043|          81|        73|     78|     73|          78|       74|      80|   86|       74|       74|                79|        8|          8|         8|            11|         12|              59|           42|     64|          69|        75|     52|       81|         77|       78|           80|        73|            47|          80|     82|             52|      68|    80|     61|77.0|59.0|65.0|77.0|74.0|147621|77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|                RM |77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|74.0|
| 7502|     J. Michel| 25|https://cdn.sofif...|        France|https://cdn.sofif...|     68|       71|    Sporting Lokeren|https://cdn.sofif...| €1.1M|  €9K|   1805|          47|        58|     71|     70|          70|       73|      71|   73|       65|       51|                71|       13|          9|        14|            14|         12|              56|           66|     48|          73|        71|     46|       66|         57|       65|           71|        69|            54|          42|     67|             56|      56|    67|     66|65.0|57.0|63.0|62.0|67.0|212169|65.0|60.0|57.0|67.0|63.0|62.0|63.0|60.0|63.0|62.0|     LM CAM CDM CM |65.0|60.0|57.0|67.0|63.0|62.0|63.0|60.0|63.0|62.0|60.0|
| 4010|  Lee Ho Seung| 27|https://cdn.sofif...|Korea Republic|https://cdn.sofif...|     72|       72|     Jeonnam Dragons|https://cdn.sofif...| €2.1M|  €4K|   1034|          33|        16|     36|     35|          18|       31|      10|   12|       11|       18|                14|       73|         72|        63|            70|         74|              13|           21|     41|          15|        16|     17|       16|         18|       68|           25|        20|            12|          23|     26|             10|      64|    57|     17|null|null|null|null|null|232191|null|null|null|null|null|null|null|null|null|null|                GK |null|null|null|null|null|null|null|null|null|null|null|
| 6191|     M. Martin| 28|https://cdn.sofif...|        France|https://cdn.sofif...|     69|       69| Heart of Midlothian|https://cdn.sofif...|   €1M|  €6K|   1878|          54|        68|     67|     72|          66|       61|      69|   57|       56|       60|                70|        7|          9|        13|            10|          9|              64|           68|     74|          72|        70|     54|       74|         59|       67|           74|        66|            67|          46|     76|             68|      74|    67|     51|65.0|66.0|68.0|62.0|68.0|177017|65.0|65.0|66.0|68.0|68.0|62.0|64.0|62.0|62.0|66.0|        CDM CAM CM |65.0|65.0|66.0|68.0|68.0|62.0|64.0|62.0|62.0|66.0|62.0|
| 6225|   R. Stearman| 29|https://cdn.sofif...|       England|https://cdn.sofif...|     69|       69|    Sheffield United|https://cdn.sofif...| €825K| €24K|   1569|          53|        79|     58|     50|          57|       46|      45|   32|       45|       33|                33|        9|         10|        11|            16|          6|              68|           67|     70|          53|        43|     66|       48|         42|       66|           63|        50|            68|          54|     66|             67|      75|    36|     30|50.0|68.0|64.0|49.0|54.0|155524|50.0|62.0|68.0|54.0|64.0|49.0|51.0|51.0|49.0|61.0|                CB |50.0|62.0|68.0|54.0|64.0|49.0|51.0|51.0|49.0|61.0|51.0|
| 2357|     V. Bessat| 31|https://cdn.sofif...|        France|https://cdn.sofif...|     74|       74|             SM Caen|https://cdn.sofif...| €4.9M| €23K|   1956|          75|        62|     76|     74|          75|       71|      79|   54|       75|       58|                57|        6|         16|        10|            12|          9|              53|           46|     73|          75|        71|     71|       58|         70|       76|           75|        67|            69|          72|     64|             72|      70|    74|     62|73.0|66.0|68.0|71.0|72.0|184706|73.0|69.0|66.0|72.0|68.0|71.0|73.0|68.0|73.0|70.0|             LB LM |73.0|69.0|66.0|72.0|68.0|71.0|73.0|68.0|73.0|70.0|68.0|
| 2634|S. Palitsevich| 27|https://cdn.sofif...|       Belarus|https://cdn.sofif...|     73|       73|   Gençlerbirliği SK|https://cdn.sofif...| €3.4M| €17K|   1659|          62|        70|     62|     58|          58|       60|      36|   52|       44|       24|                68|       14|          7|        14|             8|          6|              76|           72|     72|          68|        43|     70|       52|         30|       68|           66|        46|            68|          67|     69|             75|      78|    37|     19|51.0|72.0|68.0|48.0|57.0|187655|51.0|66.0|72.0|57.0|68.0|48.0|51.0|49.0|48.0|63.0|                CB |51.0|66.0|72.0|57.0|68.0|48.0|51.0|49.0|48.0|63.0|49.0|
|  846|    I. Afellay| 31|https://cdn.sofif...|   Netherlands|https://cdn.sofif...|     78|       78|          Stoke City|https://cdn.sofif...|   €9M| €68K|   2027|          76|        59|     76|     77|          82|       78|      78|   79|       80|       71|                75|       14|          7|        10|            12|          8|              46|           62|     75|          74|        76|     36|       70|         73|       75|           81|        75|            58|          74|     70|             67|      64|    75|     72|77.0|60.0|68.0|76.0|76.0|158372|77.0|67.0|60.0|76.0|68.0|76.0|77.0|72.0|77.0|69.0|     CDM LM CM CAM |77.0|67.0|60.0|76.0|68.0|76.0|77.0|72.0|77.0|69.0|72.0|
| 4044|  O. Deschacht| 36|https://cdn.sofif...|       Belgium|https://cdn.sofif...|     71|       71|      RSC Anderlecht|https://cdn.sofif...| €325K| €10K|   1634|          47|        67|     55|     59|          62|       77|      64|   42|       47|       37|                31|        6|         14|        10|            12|          6|              71|           80|     55|          60|        52|     71|       36|         47|       65|           65|        62|            70|          49|     65|             72|      72|    57|     26|55.0|70.0|68.0|54.0|61.0| 49161|55.0|67.0|70.0|61.0|68.0|54.0|56.0|54.0|54.0|66.0|             LB CB |55.0|67.0|70.0|61.0|68.0|54.0|56.0|54.0|54.0|66.0|54.0|
| 7996|Wilsson Rosito| 33|https://cdn.sofif...|        Brazil|https://cdn.sofif...|     67|       67|Associação Chapec...|https://cdn.sofif...| €475K| €10K|   1726|          78|        44|     81|     77|          72|       62|      73|   77|       71|       45|                75|        9|          8|         7|             9|          7|              55|           44|     56|          76|        61|     31|       67|         67|       59|           66|        72|            22|          67|     62|             22|      61|    58|     47|66.0|43.0|52.0|65.0|63.0|230471|66.0|50.0|43.0|63.0|52.0|65.0|67.0|62.0|66.0|54.0|            LM CAM |66.0|50.0|43.0|63.0|52.0|65.0|67.0|62.0|66.0|54.0|62.0|
| 3211|     J. Börner| 26|https://cdn.sofif...|       Germany|https://cdn.sofif...|     73|       73|DSC Arminia Biele...|https://cdn.sofif...| €3.5M|  €9K|   1806|          61|        77|     61|     57|          56|       59|      49|   58|       55|       56|                50|        7|         13|        12|            15|         16|              75|           72|     88|          53|        54|     75|       62|         47|       64|           59|        70|            67|          66|     71|             71|      82|    46|     41|55.0|72.0|66.0|57.0|57.0|194015|55.0|66.0|72.0|57.0|66.0|57.0|56.0|60.0|56.0|64.0|                CB |55.0|66.0|72.0|57.0|66.0|57.0|56.0|60.0|56.0|64.0|60.0|
|10009|     N. Körber| 20|https://cdn.sofif...|       Germany|https://cdn.sofif...|     65|       77|  SC Preußen Münster|https://cdn.sofif...| €775K|  €4K|   1015|          33|        22|     46|     43|          20|       25|      13|   13|       18|       11|                14|       65|         63|        63|            63|         67|              17|           14|     63|          24|        16|     13|       15|         12|       61|           24|        20|            14|          37|     28|             13|      55|    21|     14|null|null|null|null|null|219937|null|null|null|null|null|null|null|null|null|null|                GK |null|null|null|null|null|null|null|null|null|null|null|
| 7871|        Gerson| 20|https://cdn.sofif...|        Brazil|https://cdn.sofif...|     67|       80|                Roma|https://cdn.sofif...| €1.5M| €24K|   1701|          71|        40|     75|     79|          78|       61|      61|   73|       74|       59|                47|       14|         13|        13|             9|          9|              44|           35|     62|          72|        49|     32|       55|         57|       60|           74|        59|            35|          67|     67|             38|      59|    67|     54|68.0|45.0|55.0|66.0|66.0|229927|68.0|52.0|45.0|66.0|55.0|66.0|68.0|62.0|67.0|56.0|                CM |68.0|52.0|45.0|66.0|55.0|66.0|68.0|62.0|67.0|56.0|62.0|
| 4975|     M. Batdal| 31|https://cdn.sofif...|        Turkey|https://cdn.sofif...|     70|       70|İstanbul Başakşeh...|https://cdn.sofif...| €1.6M| €19K|   1571|          45|        54|     30|     36|          69|       60|      41|   58|       63|       72|                42|        8|         12|        11|            12|          8|              76|           21|     34|          53|        63|     31|       65|         74|       71|           66|        75|            21|          38|     72|             32|      88|    60|     70|63.0|46.0|50.0|66.0|61.0|199201|63.0|44.0|46.0|61.0|50.0|66.0|61.0|69.0|61.0|46.0|                ST |63.0|44.0|46.0|61.0|50.0|66.0|61.0|69.0|61.0|46.0|69.0|
| 2921|   H. González| 26|https://cdn.sofif...|        Mexico|https://cdn.sofif...|     73|       76|           Monterrey|https://cdn.sofif...| €3.5M| €36K|   1195|          32|        27|     47|     41|          19|       40|      11|   25|       16|       11|                13|       74|         73|        69|            73|         76|              22|           19|     59|          23|        14|     14|       39|         11|       60|           36|        37|            14|          34|     45|             13|      73|    60|     15|null|null|null|null|null|186990|null|null|null|null|null|null|null|null|null|null|                GK |null|null|null|null|null|null|null|null|null|null|null|
| 7806|    Y. Yoshida| 27|https://cdn.sofif...|         Japan|https://cdn.sofif...|     67|       67|          Sagan Tosu|https://cdn.sofif...| €625K|  €4K|   1679|          74|        60|     78|     88|          64|       35|      67|   58|       65|       22|                31|       14|          9|        12|             8|         11|              53|           63|     78|          50|        35|     61|       30|         49|       65|           65|        47|            65|          71|     70|             70|      60|    62|     24|59.0|63.0|63.0|56.0|60.0|232728|59.0|66.0|63.0|60.0|63.0|56.0|61.0|51.0|59.0|66.0|             RB LB |59.0|66.0|63.0|60.0|63.0|56.0|61.0|51.0|59.0|66.0|51.0|
|  408|        E. Can| 23|https://cdn.sofif...|       Germany|https://cdn.sofif...|     80|       85|           Liverpool|https://cdn.sofif...|€19.5M|€105K|   2135|          69|        83|     73|     71|          80|       74|      70|   68|       76|       60|                65|       14|          8|         8|            13|         11|              70|           79|     76|          80|        72|     78|       60|         73|       77|           81|        79|            79|          73|     85|             80|      84|  79+1|     61|76.0|79.0|80.0|75.0|79.0|208333|76.0|77.0|79.0|79.0|80.0|75.0|76.0|73.0|74.0|78.0|            CDM CM |76.0|77.0|79.0|79.0|80.0|75.0|76.0|73.0|74.0|78.0|73.0|
|11896|   M. Vigorito| 27|https://cdn.sofif...|         Italy|https://cdn.sofif...|     64|       64|           Frosinone|https://cdn.sofif...| €300K|  €1K|   1033|          43|        32|     64|     30|          21|       30|      13|   13|       13|       18|                12|       63|         60|        55|            60|         72|               9|           26|     67|          15|        13|     19|       13|         13|       64|           16|        21|            12|          45|     32|             13|      46|    24|     16|null|null|null|null|null|186611|null|null|null|null|null|null|null|null|null|null|                GK |null|null|null|null|null|null|null|null|null|null|null|
|13283|      G. Hirst| 18|https://cdn.sofif...|       England|https://cdn.sofif...|     62|       81| Sheffield Wednesday|https://cdn.sofif...| €625K|  €6K|   1440|          72|        56|     49|     64|          54|       63|      29|   30|       47|       66|                31|       13|         13|        13|            10|          9|              67|           19|     67|          31|        48|     26|       61|         66|       51|           49|        67|            25|          77|     55|             19|      65|    43|     48|53.0|40.0|38.0|57.0|45.0|233602|53.0|40.0|40.0|45.0|38.0|57.0|52.0|61.0|54.0|40.0|                ST |53.0|40.0|40.0|45.0|38.0|57.0|52.0|61.0|54.0|40.0|61.0|
| 3575|    F. de Jong| 20|https://cdn.sofif...|   Netherlands|https://cdn.sofif...|     72|       82|                Ajax|https://cdn.sofif...|   €5M|  €7K|   1871|          77|        58|     82|     85|          81|       77|      70|   74|       77|       48|                56|        7|         13|        10|            10|          9|              60|           68|     66|          68|        52|     52|       45|         57|       73|           77|        59|            55|          75|     67|             57|      57|    76|     50|72.0|61.0|67.0|69.0|71.0|228702|72.0|66.0|61.0|71.0|67.0|69.0|72.0|63.0|71.0|68.0|            CDM CM |72.0|66.0|61.0|71.0|67.0|69.0|72.0|63.0|71.0|68.0|63.0|
+-----+--------------+---+--------------------+--------------+--------------------+-------+---------+--------------------+--------------------+------+-----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

+----+------------+---+--------------------+--------------+--------------------+-------+---------+----------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
|  ID|        Name|Age|               Photo|   Nationality|                Flag|Overall|Potential|            Club|           Club Logo|Value|Wage|Special|Acceleration|Aggression|Agility|Balance|Ball_Control|Composure|Crossing|Curve|Dribbling|Finishing|Free kick accuracy|GK diving|GK handling|GK kicking|GK positioning|GK reflexes|Heading accuracy|Interceptions|Jumping|Long passing|Long shots|Marking|Penalties|Positioning|Reactions|Short passing|Shot power|Sliding_Tackle|Sprint speed|Stamina|Standing tackle|Strength|Vision|Volleys| CAM|  CB| CDM|  CF|  CM|    ID| LAM|  LB| LCB| LCM| LDM|  LF|  LM|  LS|  LW| LWB|Preferred Positions| RAM|  RB| RCB| RCM| RDM|  RF|  RM|  RS|  RW| RWB|  ST|
+----+------------+---+--------------------+--------------+--------------------+-------+---------+----------------+--------------------+-----+----+-------+------------+----------+-------+-------+------------+---------+--------+-----+---------+---------+------------------+---------+-----------+----------+--------------+-----------+----------------+-------------+-------+------------+----------+-------+---------+-----------+---------+-------------+----------+--------------+------------+-------+---------------+--------+------+-------+----+----+----+----+----+------+----+----+----+----+----+----+----+----+----+----+-------------------+----+----+----+----+----+----+----+----+----+----+----+
| 677|  A. Samedov| 32|https://cdn.sofif...|        Russia|https://cdn.sofif...|     79|       79|  Spartak Moscow|https://cdn.sofif...| €10M|€74K|   2043|          81|        73|     78|     73|          78|       74|      80|   86|       74|       74|                79|        8|          8|         8|            11|         12|              59|           42|     64|          69|        75|     52|       81|         77|       78|           80|        73|            47|          80|     82|             52|      68|    80|     61|77.0|59.0|65.0|77.0|74.0|147621|77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|                RM |77.0|65.0|59.0|74.0|65.0|77.0|78.0|74.0|78.0|67.0|74.0|

In [14]:
#DF select 
df2.select("Name","Overall").show(4)

+------------+-------+
|        Name|Overall|
+------------+-------+
|   J. Graham|     67|
|Park Han Bin|     64|
|     José Sá|     76|
|    J. Jones|     64|
+------------+-------+
only showing top 4 rows

In [77]:
#DF filter on overall

df2.filter(df2["Overall"]>82).select("Name","Overall").sort("Overall",ascending=False).show()

+-----------------+-------+
|             Name|Overall|
+-----------------+-------+
|Cristiano Ronaldo|     94|
|         L. Messi|     93|
|        L. Suárez|     92|
|           Neymar|     92|
|         M. Neuer|     92|
|   R. Lewandowski|     91|
|     Sergio Ramos|     90|
|       G. Higuaín|     90|
|         T. Kroos|     90|
|           De Gea|     90|
|        E. Hazard|     90|
|      T. Courtois|     89|
|       A. Sánchez|     89|
|          G. Bale|     89|
|        L. Modrić|     89|
|        G. Buffon|     89|
|     G. Chiellini|     89|
|        S. Agüero|     89|
|     K. De Bruyne|     89|
|       M. Hummels|     88|
+-----------------+-------+
only showing top 20 rows

In [15]:
#Filter using where
df2.select("Name","Overall","Age").where(df2["Overall"]>70).show(2)

+----------+-------+---+
|      Name|Overall|Age|
+----------+-------+---+
|D. Cabrera|     71| 27|
|  A. Vidal|     87| 30|
+----------+-------+---+
only showing top 2 rows

In [28]:
# to find duplicates on combination of "Name","Overall","Age"

df5=df2.select("Name","Overall","Age").groupBy("Name","Overall","Age").count()
df5.where(df5["count"]>1).count()

56

In [62]:
#I want you write a SQL Query and pyspark dataframe operation 
#to calculate the employee whose salary is greater than the avg of salary with respect to each Department??

#+------+--------+------+----+
#|emp_id|emp_name|salary| dep|
#+------+--------+------+----+
#|     1|     abc|  4000|BANG|
#|     2|     DEF|  5000|BANG|
#|     3|     EFG|  7000| HYD|
#|     4|     FGH|  8000| HYD|
#|     5|     MNO|  9000| CHN|
#+------+--------+------+----+
#Read data from /content/samplefile.txt
df_rd = spark.read.csv("/content/samplefile.txt",header="True",sep="|")
df6 = spark.read.csv("/content/samplefile.txt",header="True",sep="|",inferSchema="True")
print("Input Data df6:")
df6.show()
#calculate the employee whose salary is greater than the avg of salary with respect to each Department
from pyspark.sql.window import Window
from pyspark.sql.functions import col,avg
avgwindowspec = Window.partitionBy("dep")
df7=df6.withColumn("avg_salary",avg(col("salary")).over(avgwindowspec))
df_ans=df7.where(df7["salary"]>df7["avg_salary"])
print("Output Data:")
df_ans.show()
# write back data into csv file
# Saving modes
df_ans.write.mode('overwrite').csv("/content/samplefile_oput_agg_Sal")
# You can also use this
df_ans.write.format("csv").mode('overwrite').save("/content/samplefile_oput_agg_Sal")


# read data now

Input Data df6:
+------+--------+------+---+
|emp_id|emp_name|salary|dep|
+------+--------+------+---+
|     1|     abc|  4000|MEC|
|     2|     DEF|  5000|MEC|
|     3|     EFG|  7000|ECE|
|     4|     FGH|  8000|ECE|
|     5|     MNO|  9000|CSE|
+------+--------+------+---+

Output Data:
+------+--------+------+---+----------+
|emp_id|emp_name|salary|dep|avg_salary|
+------+--------+------+---+----------+
|     4|     FGH|  8000|ECE|    7500.0|
|     2|     DEF|  5000|MEC|    4500.0|
+------+--------+------+---+----------+

In [67]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType, FloatType
schema = StructType([ \
    StructField("emp_id",IntegerType(),True), \
    StructField("emp_name",StringType(),True), \
    StructField("salary",FloatType(),True), \
    StructField("dep", StringType(), True), \
    StructField("avg_salary", FloatType(), True)
  ])
df_rd_oput_fl = spark.read.csv("/content/samplefile_oput_agg_Sal",header=False,schema=schema)

+------+--------+------+---+----------+
|emp_id|emp_name|salary|dep|avg_salary|
+------+--------+------+---+----------+
|     4|     FGH|8000.0|ECE|    7500.0|
|     2|     DEF|5000.0|MEC|    4500.0|
+------+--------+------+---+----------+

In [70]:
df_rd_oput_fl.write.mode("overwrite").csv("sample_out_with_header",header="True")

In [1]:
df2_result = df2.where(df2["Overall"]>70).groupBy("Age").count().sort("Age")

pandas_df = df2_result.toPandas()
pandas_df.plot(x = "Age", y = "count", kind = "bar")

NameError: ignored

Create DF and Basic Operations

In [21]:
df1 = spark.read.format("csv").load("CompleteDataset.csv", inferSchema=True, header=True)


df1.rdd.getNumPartitions()

#Create Temp View/Table
df1.createOrReplaceTempView("football")
sql_q="select _c0 as ID,Name from football"
df3 = spark.sql(sql_q)
df3.show()

#Create and register UDF

def upper_convert(line):
  if len(line)>10:
    return line.upper()
  else:
    return line.lower()
spark.udf.register("UPPER",upper_convert)


df1.createOrReplaceTempView("UDF_football")
sql_q1="select _c0 as ID,UPPER(Name) from football"
df4 = spark.sql(sql_q1)
df4.show()

+---+-----------------+
| ID|             Name|
+---+-----------------+
|  0|Cristiano Ronaldo|
|  1|         L. Messi|
|  2|           Neymar|
|  3|        L. Suárez|
|  4|         M. Neuer|
|  5|   R. Lewandowski|
|  6|           De Gea|
|  7|        E. Hazard|
|  8|         T. Kroos|
|  9|       G. Higuaín|
| 10|     Sergio Ramos|
| 11|     K. De Bruyne|
| 12|      T. Courtois|
| 13|       A. Sánchez|
| 14|        L. Modrić|
| 15|          G. Bale|
| 16|        S. Agüero|
| 17|     G. Chiellini|
| 18|        G. Buffon|
| 19|        P. Dybala|
+---+-----------------+
only showing top 20 rows

+---+-----------------+
| ID|      UPPER(Name)|
+---+-----------------+
|  0|CRISTIANO RONALDO|
|  1|         l. messi|
|  2|           neymar|
|  3|        l. suárez|
|  4|         m. neuer|
|  5|   R. LEWANDOWSKI|
|  6|           de gea|
|  7|        e. hazard|
|  8|         t. kroos|
|  9|       g. higuaín|
| 10|     SERGIO RAMOS|
| 11|     K. DE BRUYNE|
| 12|      T. COURTOIS|
| 13|       a. sánchez|
| 14|        l. modrić|
| 15|          g. bale|
| 16|        s. agüero|
| 17|     G. CHIELLINI|
| 18|        g. buffon|
| 19|        p. dybala|
+---+-----------------+
only showing top 20 rows